/*
-Variables
-Efectos Keyframes
-General
-Header
-Section
-Footer
*/
body {
  background: #E6E2E2;
}

div.cuerpo {
  font-family: 'Roboto Condensed', sans-serif;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

/*
Variables
*/
/*Azul oscuro gradient*/
/*Verde*/
/*Naranja*/
/*Gris*/
/*Transparente*/
/*
Efectos keyframes
*/
@-webkit-keyframes fade {
  from {
    -webkit-transform: translate(0px, 150px);
    transform: translate(0px, 150px);
    opacity: 0.7;
  }
  to {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 1;
  }
}
@keyframes fade {
  from {
    -webkit-transform: translate(0px, 150px);
    transform: translate(0px, 150px);
    opacity: 0.7;
  }
  to {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 1;
  }
}
@-webkit-keyframes animation {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes animation {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
article > * {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

div.bienvenida {
  -webkit-animation-name: animation;
  animation-name: animation;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*
Header
*/
header {
  position: fixed;
  background: linear-gradient(to right, #1D2C46, #243b55);
  padding: 40px 0;
  z-index: 1000000;
  font-family: 'Roboto Condensed', sans-serif;
  outline: 1px solid #1DE708;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
header > div:nth-of-type(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
header > div:nth-of-type(1) div.logo {
  border: 5px solid #0349A9;
  width: 100px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
header > div:nth-of-type(1) div.logo img {
  width: 100%;
}
header > div:nth-of-type(1) div:nth-of-type(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
header > div:nth-of-type(1) div:nth-of-type(2) > div {
  width: 120px;
  margin: 0 10px;
  padding: 20px 10px;
  border: 1px solid white;
  color: white;
  background: #4A5459;
  position: relative;
  text-align: center;
}
header > div:nth-of-type(1) div:nth-of-type(2) > div a {
  text-decoration: none;
  color: white;
}
header > div:nth-of-type(1) div:nth-of-type(2) > div:hover {
  cursor: pointer;
}
header > div:nth-of-type(1) div:nth-of-type(3), header > div:nth-of-type(1) div:nth-of-type(4), header > div:nth-of-type(1) div:nth-of-type(5) {
  position: relative;
}
header > div:nth-of-type(1) div:nth-of-type(3) p, header > div:nth-of-type(1) div:nth-of-type(4) p, header > div:nth-of-type(1) div:nth-of-type(5) p {
  position: absolute;
  left: 10px;
  color: #1DE708;
  text-align: center;
  display: flex;
  align-self: center;
  font-size: 12px;
}
header > div:nth-of-type(1) div:nth-of-type(3) img, header > div:nth-of-type(1) div:nth-of-type(4) img, header > div:nth-of-type(1) div:nth-of-type(5) img {
  height: 50px;
  width: 50px;
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
header > div:nth-of-type(1) div:nth-of-type(3) img:hover, header > div:nth-of-type(1) div:nth-of-type(4) img:hover, header > div:nth-of-type(1) div:nth-of-type(5) img:hover {
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  cursor: pointer;
}
header > div:nth-of-type(1) div:nth-of-type(3) div, header > div:nth-of-type(1) div:nth-of-type(4) div, header > div:nth-of-type(1) div:nth-of-type(5) div {
  display: none;
  position: absolute;
  transform: translate(-90px, 15px);
}
header > div:nth-of-type(1) div:nth-of-type(3) div form input, header > div:nth-of-type(1) div:nth-of-type(4) div form input, header > div:nth-of-type(1) div:nth-of-type(5) div form input {
  border: 1px solid grey;
  width: 120px;
  padding: 5px 0;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 20px;
  text-align: center;
}
header > div:nth-of-type(1) div:nth-of-type(3) div form input:focus, header > div:nth-of-type(1) div:nth-of-type(4) div form input:focus, header > div:nth-of-type(1) div:nth-of-type(5) div form input:focus {
  outline: 0px solid;
  padding: 5px 10px;
}

/*
Section
*/
section.container_12 {
  position: relative;
  z-index: 1;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  margin-top: 150px;
  /*
  	Cookies
  */
}
section.container_12 div.condiciones {
  position: fixed;
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.4);
  align-content: center;
  bottom: 0;
  color: white;
  align-items: baseline;
}
section.container_12 div.condiciones p {
  font-size: 15px;
}
section.container_12 div.condiciones a {
  text-decoration: none;
  color: white;
}
section.container_12 article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /*
  Bienvenida
  */
  /*
  Contenedor Carrusel
  */
  /*
  Contenedor slider 
  */
  /*
  Baraja y cartas
  */
  /*
  Footer
  */
}
section.container_12 article > * {
  margin: 50px 0;
}
section.container_12 article div.bienvenida {
  margin: 50px 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
section.container_12 article div.bienvenida > p {
  outline: 2px solid white;
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px #191717;
  padding: 10px 2px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
section.container_12 article div.bienvenida > p span {
  font-size: 25px;
  text-shadow: 2px 2px #191717;
}
section.container_12 article div.bienvenida > p:hover {
  outline: 2px solid #1DE708;
  background: rgba(0, 0, 0, 0.8);
}
section.container_12 article div.bienvenida > p:hover:first-line {
  color: #1DE708;
}
section.container_12 article div.titulo h1 {
  color: #2E2E2E;
  padding: 10px;
  display: block;
  background: #CF3131;
  width: 200px;
  color: white;
  margin: 0;
  transition: all 200ms ease;
}
section.container_12 article div.titulo h1:hover {
  background: transparent;
  color: #2E2E2E;
  outline: 2px solid #CF3131;
}
section.container_12 article div.titulo p {
  font-size: 20px;
  color: #2E2E2E;
  padding: 10px;
  display: block;
  background: #22B2BF;
  width: 700px;
  color: white;
}
section.container_12 article div.notas > p {
  outline: 0px solid;
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  color: white;
  text-shadow: 1px 1px #191717;
  padding: 10px 2px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
section.container_12 article div.notas > p span {
  font-size: 25px;
  text-shadow: 2px 2px #191717;
}
section.container_12 article div.notas > p:hover {
  outline: 2px solid #1DE708;
  background: rgba(0, 0, 0, 0.8);
}
section.container_12 article div.contenedorCarrusel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
section.container_12 article div.contenedorCarrusel > div {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
section.container_12 article div.contenedorCarrusel > div.carrusel {
  width: 90%;
  overflow: hidden;
  padding: 20px 60px;
}
section.container_12 article div.contenedorCarrusel > div.carrusel > div {
  position: relative;
  margin: 0 50px;
  -webkit-box-shadow: 0px 6px 3px 0px #252424;
  box-shadow: 0px 6px 3px 0px #252424;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
section.container_12 article div.contenedorCarrusel > div.carrusel > div:before {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #1DE708;
  bottom: -3px;
  position: absolute;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
section.container_12 article div.contenedorCarrusel > div.carrusel > div:hover:before {
  width: 100%;
}
section.container_12 article div.contenedorCarrusel > div.carrusel > div:before {
  left: 50%;
}
section.container_12 article div.contenedorCarrusel > div.carrusel > div:hover:before {
  left: 0;
}
section.container_12 article div.contenedorCarrusel > div.carrusel > div:hover > div {
  background: rgba(50, 73, 97, 0.7);
  opacity: 1;
}
section.container_12 article div.contenedorCarrusel > div.carrusel > div > img {
  opacity: 0.9;
  background: rgba(0, 0, 0, 0.4);
  width: 350px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
section.container_12 article div.contenedorCarrusel > div.carrusel > div div {
  position: absolute;
  height: 100%;
  bottom: 0px;
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
section.container_12 article div.contenedorCarrusel > div.carrusel > div div p {
  text-align: center;
  color: white;
  font-size: 20px;
}
section.container_12 article div.contenedorCarrusel > div.carrusel > div div p:before {
  content: '\A';
  white-space: pre;
}
section.container_12 article div.contenedorCarrusel > div.carrusel > div div a, section.container_12 article div.contenedorCarrusel > div.carrusel > div div img {
  margin: 5px 15px;
}
section.container_12 article div.contenedorCarrusel > div.carrusel > div div a {
  text-decoration: none;
  height: 20px;
  color: white;
  margin: 0 5px;
  padding: 10px;
  background: red;
}
section.container_12 article div.contenedorCarrusel > div.carrusel > div div img {
  width: 20px;
  height: 20px;
  transition: all 200ms ease;
}
section.container_12 article div.contenedorCarrusel > div.carrusel > div div img:hover {
  cursor: pointer;
  filter: contrast(200%);
}
section.container_12 article div.contenedorCarrusel > div img.mvI, section.container_12 article div.contenedorCarrusel > div img.mvD {
  width: 60px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  height: 60px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
section.container_12 article div.contenedorCarrusel > div img.mvI:hover, section.container_12 article div.contenedorCarrusel > div img.mvD:hover {
  cursor: pointer;
  background: #555555;
}
section.container_12 article .sinEfecto {
  opacity: 0;
  -webkit-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}
section.container_12 article .efecto {
  opacity: 1;
  -webkit-transition: 1000ms ease;
  -o-transition: 1000ms ease;
  transition: 1000ms ease;
}
section.container_12 article .slidertrue {
  position: relative;
  width: 100%;
  height: 400px;
}
section.container_12 article .slidertrue div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
section.container_12 article .slidertrue div img {
  position: absolute;
  width: 100%;
  height: 400px;
  outline: 1px solid #1DE708;
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
section.container_12 article .slidertrue div a {
  position: absolute;
  z-index: 1;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  background: red;
  top: 250px;
}
section.container_12 article div.baraja {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
section.container_12 article div.baraja h2 {
  height: 50px;
  color: #2E2E2E;
  text-align: center;
  position: relative;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
section.container_12 article div.baraja h2:hover {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  cursor: default;
}
section.container_12 article div.baraja h2:before {
  content: '';
  display: block;
  width: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0px;
  background: #FFC600;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
section.container_12 article div.baraja h2:hover:before {
  height: 100%;
}
section.container_12 article div.baraja h2:after {
  content: '';
  display: block;
  width: 10px;
  position: absolute;
  right: 0;
  top: 0;
  height: 0px;
  background: #FFC600;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
section.container_12 article div.baraja h2:hover:after {
  height: 100%;
}
section.container_12 article div.baraja > div {
  margin: 30px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
section.container_12 article div.baraja > div div {
  width: 30%;
  position: relative;
  -webkit-box-shadow: 0px 6px 3px 0px #252424;
  box-shadow: 0px 6px 3px 0px #252424;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
section.container_12 article div.baraja > div div:before {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #1DE708;
  bottom: -3px;
  position: absolute;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
section.container_12 article div.baraja > div div:hover:before {
  width: 100%;
}
section.container_12 article div.baraja > div div:before {
  left: 50%;
}
section.container_12 article div.baraja > div div:hover:before {
  left: 0;
}
section.container_12 article div.baraja > div div > img {
  width: 100%;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
section.container_12 article div.baraja > div div div {
  width: 100%;
  position: absolute;
  background: rgba(50, 73, 97, 0.8);
  bottom: 0px;
  display: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
}
section.container_12 article div.baraja > div div div p {
  text-align: center;
  color: white;
}
section.container_12 article div.baraja > div div div a, section.container_12 article div.baraja > div div div img {
  margin: 5px 10px;
}
section.container_12 article div.baraja > div div div a {
  text-decoration: none;
  color: white;
  margin: 0 5px;
  padding: 5px;
  background: red;
  height: 20px;
}
section.container_12 article div.baraja > div div div img {
  width: 20px;
  height: 20px;
  transition: all 200ms ease;
}
section.container_12 article div.baraja > div div div img:hover {
  cursor: pointer;
  filter: contrast(200%);
}
section.container_12 article div.baraja > div div:hover div {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: .9;
}
section.container_12 article footer {
  position: relative;
  margin: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  border: 0px solid;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border-top: 10px solid #FFC600;
  -webkit-box-shadow: 0px 6px 3px 0px #252424;
  box-shadow: 0px 6px 3px 0px #252424;
  position: relative;
  -webkit-flex-basis: unset;
  -ms-flex-preferred-size: unset;
  flex-basis: unset;
}
section.container_12 article footer div.promociones {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
section.container_12 article footer div.promociones > div:nth-of-type(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 400px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
section.container_12 article footer div.promociones > div:nth-of-type(1) > div a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  margin: 0 1px;
}
section.container_12 article footer div.promociones > div:nth-of-type(1) > div a:hover {
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  outline: 2px solid #1DE708;
}
section.container_12 article footer div.promociones > div:nth-of-type(1) > div a[target='#B73535']:hover {
  background: #B73535;
}
section.container_12 article footer div.promociones > div:nth-of-type(1) > div a[target='#1E40BD']:hover {
  background: #1E40BD;
}
section.container_12 article footer div.promociones > div:nth-of-type(1) > div a[target='#7917C5']:hover {
  background: #7917C5;
}
section.container_12 article footer div.promociones > div:nth-of-type(1) > div a[target='#1A87CC']:hover {
  background: #1A87CC;
}
section.container_12 article footer div.promociones > div:nth-of-type(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
section.container_12 article footer div.promociones > div:nth-of-type(2) h2 {
  text-align: center;
  color: #868484;
  text-shadow: 1px 1px #1E1B1B;
}
section.container_12 article footer div.promociones > div:nth-of-type(2) form {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
section.container_12 article footer div.promociones > div:nth-of-type(2) form > * {
  margin: 0 10px;
}
section.container_12 article footer div.promociones > div:nth-of-type(2) form input[type=email] {
  border: 1px solid grey;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 10px 0;
  width: 200px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-align: center;
}
section.container_12 article footer div.promociones > div:nth-of-type(2) form input[type=email]:focus {
  width: 300px;
  outline: 0px solid;
  box-shadow: 0px 0px 5px 1px #AAAAAA;
}
section.container_12 article footer div.promociones > div:nth-of-type(2) form input[type=submit] {
  display: block;
  padding: 10px;
  background: #B63333;
  color: white;
  border-radius: 25px;
  border: 0px;
}
section.container_12 article footer div.promociones > div:nth-of-type(2) form input[type=submit]:hover {
  cursor: pointer;
}
section.container_12 article footer div.informacion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
section.container_12 article footer div.informacion > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px 0;
}
section.container_12 article footer div.informacion > div h2 {
  color: #0A82A5;
  text-shadow: 1px 1px #1E1B1B;
}
section.container_12 article footer div.informacion > div > a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  margin: 10px 0;
  padding: 5px 0px;
  width: 120px;
  text-align: center;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  position: relative;
}
section.container_12 article footer div.informacion > div > a:before {
  content: '';
  background: #1DE708;
  display: block;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  -webkit-transition: 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
section.container_12 article footer div.informacion > div > a:hover:before {
  width: 100%;
}
section.container_12 article footer div.informacion > div > a:after {
  content: '';
  background: #1DE708;
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 3px;
  -webkit-transition: 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
section.container_12 article footer div.informacion > div > a:hover:after {
  width: 100%;
}
section.container_12 article footer div.reglas {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
section.container_12 article footer div.reglas a {
  text-decoration: none;
  color: #0A82A5;
}
section.container_12 article footer div.reglas a:hover {
  text-decoration: underline;
}
section.container_12 article footer div.reglas a:nth-of-type(4) {
  font-size: 15px;
}
section.container_12 article footer div.subir {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: 0px solid;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  padding: 5px;
}
section.container_12 article footer div.subir img {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 60px;
  height: 60px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
section.container_12 article footer div.subir:hover {
  cursor: pointer;
  background: black;
}

/*# sourceMappingURL=estilos.css.map */
